openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Edit this file by promoting it to a curated split YAML
    (drop the auto_ prefix) before making manual changes.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/tfa/authorize-new-method/:
    post:
      summary: Create tfa authorize new method
      tags:
      - Two-Factor Auth
      description: 'Authorize adding a new 2FA method by verifying the user''s identity with an existing 2FA method or backup
        code.  Params: - tfa_method: "email" | "sms" | "totp" (auto-forced to "email" if user has no active methods) - tfa_method_id:
        ID of existing method to verify with (required for sms/totp) - backup_code: use a backup code to authorize directly
        (skips the send/verify flow)  Returns {"success": True, "secret": tfa_secret} on success (tfa_secret needed for PUT
        step). Returns {"success": True, "msg": "Authorization successful."} when backup_code is used.'
      security:
      - BearerAuth: []
      x-scope: user_write
      x-rateLimit: 2.0
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                tfa_method:
                  type: string
                  description: The tfa method
                tfa_method_id:
                  type: string
                  description: The tfa method id
                backup_code:
                  type: string
                  description: The backup code
                apikey_id:
                  type: string
                  description: The apikey id
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        msg:
          type: string
    SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
