openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Edit this file by promoting it to a curated split YAML
    (drop the auto_ prefix) before making manual changes.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/machines/:
    post:
      summary: Create machines
      tags:
      - Machines
      description: Register a new machine with full hardware info (GPUs, CPUs, disks, network).  Column allowlists prevent
        injection of verification, hosting_type, etc. In dev mode the allowlist is relaxed so the market sim can create machines
        that appear in search.
      security:
      - BearerAuth: []
      x-scope: machine_write
      x-rateLimit: 2
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                machine:
                  type: string
                  description: The machine
                network:
                  type: string
                  description: The network
                gpus:
                  type: string
                  description: The gpus
                cpus:
                  type: string
                  description: The cpus
                disks:
                  type: string
                  description: The disks
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        msg:
          type: string
    SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
