openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Edit this file by promoting it to a curated split YAML
    (drop the auto_ prefix) before making manual changes.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/network_volumes/:
    put:
      summary: Update network volumes
      tags:
      - Network Volumes
      description: 'Accept a network volume ask and initiate volume creation.  This view handles a PUT request to accept a
        network volume ask, validating the request data, performing rate limiting and user authentication, and triggering
        the creation of a network volume. It logs audit records and handles invalid input with appropriate HTTP responses.  Args:
        request (Request): A Pyramid request with additional callables to execute SQLAlchemy queries.'
      security:
      - BearerAuth: []
      x-scope: instance_write
      x-rateLimit: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                apikey_id:
                  type: string
                  description: The apikey id
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        msg:
          type: string
    SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
