openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Edit this file by promoting it to a curated split YAML
    (drop the auto_ prefix) before making manual changes.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/tfa/update/:
    put:
      summary: Update tfa update
      tags:
      - Two-Factor Auth
      description: 'Update a 2FA method''s label or primary status.  Requires specifying which method to update via: - tfa_method_id
        (preferred), OR - tfa_method ("sms" or "totp" but not "email", since email is not stored in user_tfa_methods)  Can
        update: - label: A user-friendly label for the method (e.g., "Work Phone", "Personal Authenticator") - is_primary:
        Mark this as the primary/preferred method (only one can be primary)  On success: - Updates the specified user_tfa_methods
        row - If setting is_primary=True, unsets it for all other methods - Returns updated method info'
      security:
      - BearerAuth: []
      x-scope: user_write
      x-rateLimit: 1.1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                tfa_method_id:
                  type: string
                  description: The tfa method id
                tfa_method:
                  type: string
                  description: The tfa method
                label:
                  type: string
                  description: The label
                is_primary:
                  type: string
                  description: The is primary
                apikey_id:
                  type: string
                  description: The apikey id
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        msg:
          type: string
    SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
