openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Edit this file by promoting it to a curated split YAML
    (drop the auto_ prefix) before making manual changes.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/stripe-connect-disconnect/:
    get:
      summary: Get stripe stripe connect disconnect
      tags:
      - Payments
      description: 'Disconnect a user from Stripe Connect (Express, hosted onboarding flow).  - Does NOT call OAuth deauthorize
        (not used for Express hosted onboarding). - Clears our linkage and deprecated token fields: connect_user_id = NULL
        connect_publishable_key = NULL connect_access_token   = NULL connect_refresh_token  = NULL payout_enabled         =
        false - Returns JSON; never hard-fails the user due to Stripe transient issues.'
      security: []
      x-rateLimit: 1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        msg:
          type: string
    SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
