openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Edit this file by promoting it to a curated split YAML
    (drop the auto_ prefix) before making manual changes.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/machines/maintenances/batch:
    post:
      summary: Create machines maintenances batch
      tags:
      - Machines
      description: 'Schedule maintenance windows for multiple machines.  Body params: machine_ids          list[int]  — machines
        to schedule maintenance for sdate                float      — start time (unix timestamp, must be in the future) duration             int|float  —
        duration in hours maintenance_category str        — one of: power, internet, disk, gpu, software, other'
      security:
      - BearerAuth: []
      x-scope: machine_write
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                machine_ids:
                  type: string
                  description: The machine ids
                sdate:
                  type: string
                  description: The sdate
                duration:
                  type: string
                  description: The duration
                maintenance_category:
                  type: string
                  description: The maintenance category
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        msg:
          type: string
    SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
