openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Edit this file by promoting it to a curated split YAML
    (drop the auto_ prefix) before making manual changes.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/instances/take_snapshot/{id}/:
    post:
      summary: Create instance take snapshot
      tags:
      - Instances
      security:
      - BearerAuth: []
      x-scope: instance_write
      x-rateLimit: 1
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: The id
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: The id
                personal_repo:
                  type: string
                  description: The personal repo
                docker_login_user:
                  type: string
                  description: The docker login user
                docker_login_pass:
                  type: string
                  description: The docker login pass
                container_registry:
                  type: string
                  description: The container registry
                scheduled_job_id:
                  type: string
                  description: The scheduled job id
                pause:
                  type: string
                  description: The pause
                docker_login_repo:
                  type: string
                  description: The docker login repo
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        msg:
          type: string
    SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
