openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Edit this file by promoting it to a curated split YAML
    (drop the auto_ prefix) before making manual changes.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/autojobs/{id}/:
    put:
      summary: Update autojob
      tags:
      - Endpoints
      security: []
      x-rateLimit: 2
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: The id
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: The id
                min_load:
                  type: string
                  description: The min load
                target_util:
                  type: string
                  description: The target util
                cold_mult:
                  type: string
                  description: The cold mult
                test_workers:
                  type: string
                  description: The test workers
                template_hash:
                  type: string
                  description: The template hash
                template_id:
                  type: string
                  description: The template id
                search_params:
                  type: string
                  description: The search params
                launch_args:
                  type: string
                  description: The launch args
                gpu_ram:
                  type: string
                  description: The gpu ram
                endpoint_id:
                  type: string
                  description: The endpoint id
                apikey_id:
                  type: string
                  description: The apikey id
                search_query:
                  type: string
                  description: The search query
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        msg:
          type: string
    SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
