openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Edit this file by promoting it to a curated split YAML
    (drop the auto_ prefix) before making manual changes.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/benchmarks/:
    put:
      summary: Update benchmarks
      tags:
      - Benchmarks
      security: []
      x-rateLimit: 5
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: The name
                machine_id:
                  type: string
                  description: The machine id
                num_gpus:
                  type: string
                  description: The num gpus
                image:
                  type: string
                  description: The image
                model:
                  type: string
                  description: The model
                score:
                  type: string
                  description: The score
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        msg:
          type: string
    SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
