openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Edit this file by promoting it to a curated split YAML
    (drop the auto_ prefix) before making manual changes.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v1/templates/fetch-tags:
    post:
      summary: Create templates fetch tags
      tags:
      - Other
      description: 'Fetch tags for a specific image, optionally with credentials for private repos.  Routing: - Public Docker
        Hub  → get_docker_tags_v3 (Redis-cached, stale fallback) - Private Docker Hub → _fetch_dockerhub_tags (direct API,
        with credentials) - NVIDIA NGC         → get_ngc_tags (Redis-cached) - GHCR/GCR/custom    → _fetch_registry_tags (OCI
        Distribution API)'
      security:
      - BearerAuth: []
      x-scope: user_read
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        msg:
          type: string
    SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
