openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Edit this file by promoting it to a curated split YAML
    (drop the auto_ prefix) before making manual changes.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/autojobs/:
    post:
      summary: Create autojobs
      tags:
      - Endpoints
      security: []
      x-rateLimit: 4
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                min_load:
                  type: string
                  description: The min load
                min_cold_load:
                  type: string
                  description: The min cold load
                target_util:
                  type: string
                  description: The target util
                cold_mult:
                  type: string
                  description: The cold mult
                cold_workers:
                  type: string
                  description: The cold workers
                max_workers:
                  type: string
                  description: The max workers
                test_workers:
                  type: string
                  description: The test workers
                gpu_ram:
                  type: string
                  description: The gpu ram
                autoscaler_instance:
                  type: string
                  description: The autoscaler instance
                docker_login_user:
                  type: string
                  description: The docker login user
                docker_login_pass:
                  type: string
                  description: The docker login pass
                docker_login_repo:
                  type: string
                  description: The docker login repo
                template_hash:
                  type: string
                  description: The template hash
                template_id:
                  type: string
                  description: The template id
                search_params:
                  type: string
                  description: The search params
                launch_args:
                  type: string
                  description: The launch args
                endpoint_name:
                  type: string
                  description: The endpoint name
                endpoint_id:
                  type: string
                  description: The endpoint id
                search_query:
                  type: string
                  description: The search query
                apikey_id:
                  type: string
                  description: The apikey id
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        msg:
          type: string
    SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
